.block {
    margin: 0 auto;
    max-width: 800px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: var(--black);
}

.colorWhite {
    color: var(--white);
}

@media (max-width:768px) {
    .block {
        font-size: 1rem;
        line-height: 1.4rem;
    }
}