.lead {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background-color: var(--dark);
  border-radius: var(--border-radius);
  padding: 10px;
  padding-left: 30px;
  gap: 30px;
}


.buttons {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}

.header {
  padding: 10px;
  padding-top: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.link {
  font-size: 1.2em;
  color: var(--blue);
  text-decoration: underline;
  transition: all .2s ease;
}

.link:hover {
  color: var(--pink)
}


@media (max-width:1200px) {



  .main {
    padding: 6rem 1rem;

  }
}

@media (max-width:768px) {



  .lead {
    padding-left: 0px;
    padding: 10px;
    grid-template-columns: 1fr;
  }

  .main {
    padding: 4rem 1rem;
  }

  .buttons {
    gap: 20px;
    margin-top: 0px;
  }

  .header {
    gap: 20px;
  }


}