.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}



.link {
  font-size: 1.2em;
  color: var(--blue);
  text-decoration: underline;
  transition: all .2s ease;
}

.link:hover {
  color: var(--pink)
}


@media (max-width:1200px) {
  .main {
    padding: 6rem 1rem;
  }
}

@media (max-width:768px) {
  .main {
    padding: 4rem 1rem;
  }

  .buttons {
    gap: 20px;
  }



}