.block {
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6rem 0;
    gap: 6rem;
    min-height: 100vh;
}


@media (max-width:1200px) {
    .block {
        padding: 20px;
    }
}