.block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    position: relative;
    max-width: var(--max-width);
    margin: auto;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    height: 80vh;
    width: 90%;
    margin-top: 10vh;
    color: white;

}

@media (max-width:375px) {
    .block {
        margin-top: 1vh;
        height: 98vh;
    }
}