.block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.block h1 {
    font-size: 30px;
    line-height: 35px;
    color: var(--white);
    width: 100%;
}


.block span {
    font-size: 25px;
    line-height: 30px;
    font-weight: 800;
    background-image: linear-gradient(90deg, rgba(191, 15, 255, 1) 0%, rgba(67, 77, 180, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

@media (max-width:768px) {
    .block {
        padding-left: 0px;
    }
}