.cards {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.col {
    display: grid;
    gap: 40px;
}

.col:last-child {
    padding-top: 100px;
}

.col:first-child {
    padding-bottom: 100px;
}

@media (max-width:768px) {


    .cards {
        gap: 20px;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
    }

    .cards {
        gap: 20px;
        padding-bottom: 20px;
        grid-template-columns: 1fr;
    }

    .col:first-child,
    .col:last-child {
        padding-top: 0px;
        padding-bottom: 0px;
    }


}