.quick {
    width: 100%;
    margin: 0 auto;
    max-width: 620px;
    border-radius: var(--border-radius);

}

.quick iframe {
    border: 0;
    max-width: 620px;
    min-height: 600px;
    width: 100%;
    margin: 0px auto;
    border-radius: var(--border-radius);
}