.next {
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    gap: 7px;
    align-items: center;
    max-width: fit-content;
    transition: all .1s ease;
    border: 1px solid var(--lgrey)
}

.next .text {
    font-weight: 1.2em;
    color: var(--lgrey);
    transition: all .1s ease;
}

.next .text span {
    color: var(--lgrey);
    font-weight: 600;
}

.next:hover {
    border: 1px solid var(--mint);
}

.next svg {
    transition: all .1s ease;
    fill: var(--mint);
    color: var(--mint);
    width: 30px;
    height: 30px;
}

.next:hover svg {
    fill: var(--blue);
    color: var(--blue);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: scroll;
}


.closeButton {
    position: absolute;
    top: -20px;
    right: 0px;
    background: none;
    border: none;
    font-size: 34px;
    cursor: pointer;
    color: var(--white);
    transition: all .1s ease;
}

.closeButton:hover {
    color: var(--mint);
}

.quick {
    position: relative;
    padding: 20px 0;
    width: 800px;
    max-width: 100%;
    border-radius: var(--border-radius);
}

.quick iframe {
    border: none;
    overflow: hidden;
    border-radius: var(--border-radius);
    width: 100%;
    height: 650px;
    z-index: 100;
}

@media (max-width:768px) {
    .quick {
        border-radius: 0px
    }

    .quick iframe {
        border-radius: 0px
    }

    .closeButton {
        right: 10px;
        top: -30px;
    }
}


@media (max-width:375px) {
    .quick iframe {
        height: 550px;
    }
}